<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="/static/css/include/include.css">
    <link rel="stylesheet" href="/static/css/include/header.css">
</head>
<body>

<header class="header">

    <section class="header__section">
        <h1 class="hidden">dd</h1>
        <article class="header__article header__logo">
            <p>CORPLINK 메일</p>
        </article>
        <article class="header__article header__search">
            <div class="header__search-box input-txt">
                <input type="text" name="search_value" class="input-search" placeholder="메일 검색">
                <button class="input-search-btn"><i class="xi xi-search"></i></button>
            </div>
        </article>
        <article class="header__article header__etc">
            <div class="header__member">
                <span>닉네임
                <ul class="header__member__ul">
                    <li><a href="/">회원정보</a></li>
                    <li><a href="/">로그아웃</a></li>
                </ul>
                </span>
            </div>
            <div class="header__category">
                <span class="category__menu"><i class="xi-apps"></i>
                <ul>
                   <li><a href="/">메일</a></li>
                   <li><a href="/">주소록</a></li>
                </ul>
                </span>
                <a class="category__refresh" href="/view/include/header.html"><i class="xi-refresh"></i></a>
            </div>
        </article>
    </section>

</header>

</body>
</html>