<link rel="stylesheet" href="/static/css/include/nav.css">

<div class="nav">
    <div class="nav__write">
        <button class="btn write__write-btn">메일쓰기</button>
        <button class="btn write__write-btn">내게쓰기</button>
    </div>
    <div class="nav__category">
        <div class="category__seen"><a href="#"><i></i>안읽음</a></div>
        <div class="category__star"><a href="#">중요</a></div>
        <div class="category__file"><a href="#">첨부</a></div>
    </div>
    <div class="nav__mailbox">
        <ul class="mailbox__list">
            <li class="list__column"><a href="#">받은메일함</a></li>
            <li class="list__column"><a href="#">내게쓴메일함</a></li>
            <li class="list__column"><a href="#">보낸메일함</a></li>
            <li class="list__column"><a href="#">임시보관함</a></li>
            <li class="list__column"><a href="#">휴지통</a></li>
        </ul>
    </div>
</div>