<link rel="stylesheet" href="/static/css/include/tab.css">

<section class="tab">
    <ul class="tab__ul">
        <li><button type="button" class="btn">읽음</button></li>
        <li><button type="button" class="btn">안읽음</button></li>
        <li><button type="button" class="btn">복구</button></li>
        <li><button type="button" class="btn">삭제</button></li>
        <li><button type="button" class="btn">완전삭제</button></li>
        <li><button type="button" class="btn">스팸차단</button></li>
        <li><button type="button" class="btn">스팸해제</button></li>
        <li><select class="btn"><option>보낸메일함</option>
                    <option>중요메일함</option>
                    <option>임시메일함</option>
                    <option>휴지통</option>
        </select></li>
        <li><button type="button" class="btn">이동</button></li>
    </ul>
</section>